@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap')

@mixin flex-center
    display: flex
    justify-content: center
@mixin pad-radius
    border-radius: 7px  
    padding: 1rem 2rem 2rem 2rem
#root
    display: flex
    justify-content: space-between
body
    margin: 0
    font-family: 'Montserrat', sans-serif
    background-color: #070721
    color: #fff
    overflow-x: hidden
    display: flex
    min-height: 100svh
.chart
    width: 30rem
nav
    padding: 2rem
    width: 10rem
    background-color: #000
    position: fixed
    height: 100%
    transform: translateX(0)
    transition: transform 0.3s
.nav--hidden
    transform: translateX(-11rem)
.toggle-nav
    display: none
    cursor: pointer
    position: relative
    border: none
    background-color: transparent
    font-size: 2rem
    line-height: 0rem
    left: 9.7rem
li
    list-style: none
.user
    position: absolute
    left: 0
    bottom: 13rem
    width: 14rem
ul
    padding: 0
    text-decoration: none
    display: flex
    flex-direction: column
    gap: 2rem
a
    text-decoration: none
    color: #fff
    &:focus
        font-weight: 700
.generator-card
    background-color: #000
    width: 10rem
    height: 18rem
    @include pad-radius
    @include flex-center
    flex-direction: column
    text-align: start
    gap: 2rem
    p
        padding: 0
        margin: 0
        font-size: 13px
    .p--green
        color: #42f542
    .p--red
        color: #f54242

    .generator-card__content
        gap: 0.5rem
        display: grid

section
    padding: 2rem 5rem 2rem 0rem
    width: 100%
    display: flex
    justify-content: center
    text-align: center
    align-items: start
    margin-left: 14rem
    .energy-wrapper__card
        display: flex
        align-items: center
        gap: 2rem
        padding-inline: 5rem
.button
    cursor: pointer
    border-radius: 9px
    background-color: #841f6b
    border: 2px solid #9d257f
    color: #ddd7cf
    height: 100%
    padding: .7rem 1.5rem
    font-weight: 700
    font-family: Montserrat,sans-serif
.button--link
    background-color: transparent
    font-family: 'Montserrat', sans-serif
    color: #fff
    cursor: pointer
    border: none !important
    text-decoration: underline

.dialogmenu__bcg
    .dialogmenu__wrapper
        @include flex-center
        flex-direction: column
        align-items: center
        width: 100%
        form
            display: flex
            flex-direction: column
            width: 100%
            label
                margin-top: 0.5rem
            input[type=text],input[type=password],input[type=email]
                font-family: 'Montserrat', sans-serif
                background-color: transparent
                border: none
                border-bottom: 1px solid #fff
                color: #fff
                margin-top: 0.5rem
    .buttonwrap
        text-align: end
        display: flex
        flex-direction: column
        justify-content: end
        align-items: end
        width: 100%
        padding-top: 1rem
.table__wrapper
    padding-inline: 5rem
td
    padding-inline: 1rem
tbody td
    font-size: 15px
    padding-top: 0.7rem
    padding-bottom: 0.3rem
    border-bottom: 1px solid #ffffff79
th
    padding-bottom: 0.7rem
    .button--link
        font-weight: 700
        font-size: 1rem
.pagination
    display: flex
    justify-content: center
    gap: 2rem
    margin-bottom: 2rem
@media (max-width: 844px)
    .toggle-nav
        color: white
        display: block
    section
        margin-left: 0
        .energy-wrapper__card
            display: block
            .chart
                width: 25rem
                margin-left: -4rem
    .table__wrapper
        font-size: 0.8rem
        padding-inline: 4rem
        td
            font-size: 0.7rem
